<!DOCTYPE html>

<html lang="de">
<head>
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>

  <title>Das Russlandhaus - correctiv.org</title>

  <link href="https://correctiv.org/static/img/favicon.png" rel="shortcut icon">
  <link href="https://correctiv.org/static/CACHE/css/ff38a8402271.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ "/css/russlandhaus.css" | prepend: site.baseurl }}">
</head>

<body class='entry'>
  <main>
    <article class="article">
      <section class="article-body page__container">
        <div class="article-body__main">

        {{ content }}

        </div>
      </section>
    </article>
  </main>
</body>
</html>
