<!DOCTYPE html>

<html lang="de">
<head>

  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>

  <title>Das Russlandhaus - correctiv.org</title>

  <link href="https://correctiv.org/static/img/favicon.png" rel="shortcut icon">
  <link href="http://correctiv.org/blog/6G/" rel="shortlink">
  <link href="https://correctiv.org/blog/2015/06/23/sex-schwarzgeld-staatszerfall/" rel="canonical">
  <link href="https://correctiv.org/static/CACHE/css/ff38a8402271.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ "/css/russlandhaus.css" | prepend: site.baseurl }}">

</head>

<body class='entry'>
  <header class="header -overlay -tinted">
    <div class="header__container">
      <a class="header__brand" href="https://correctiv.org/"><img alt="Correctiv" src="https://correctiv.org/static/img/correctiv_logo_reduced.svg"></a>

      <div class="nav-primary" id="nav-primary">
        <ul class="nav-primary__children">
          <li class="nav-primary__child">
            <a class="nav-primary__link" href="https://correctiv.org/recherchen/">Recherchen</a>
          </li>

          <li class="nav-primary__child">
            <a class="nav-primary__link" href="https://correctiv.org/correctiv/">Über CORRECT!V</a>
          </li>

          <li class="nav-primary__child">
            <a class="nav-primary__link" href="https://correctiv.org/community/">Community</a>
          </li>
        </ul><a class="nav-primary__mmmh-burger" href="#nav-secondary" id="nav-on">Menü</a>
      </div>
    </div>
  </header>

  <main>
    <article class="article">
      <header class="article-header -block -header-large">
        <div class="article-header__headline-group">
          <h1 class="article-header__headline">Sex, Schwarzgeld, Staatszerfall</h1>

          <p class="article-header__subhead">Russlands Alleinherrscher Vladimir Putin hat seine Macht mit Schwarzgeld gesichert, das ein amerikanischer
          Computerkonzern gezahlt hat</p>
        </div>

        <div class="article-header__image">
          <source media="(min-width: 1200px)">
          <source media="(min-width: 992px)">
          <source media="(min-width: 768px)"><img alt="" src=
          "https://correctiv.org/media/thumbnails/filer_public_thumbnails/dd/c7/ddc777a7-36da-4df1-8c9d-711091d5b9cc/0_header_main.jpg__1920x1200_q85_crop_subsampling-2.jpg">
        </div>

        <div class="article-header__meta">
          <div class="article-header__info">
            Geschrieben von <span class="vcard"><a class="article-header__author fn url" href="https://correctiv.org/correctiv/redaktion/team/david-crawford/" rel="author" title=
            "Zeige alle Einträge von David Crawford">David Crawford</a></span>, <span class="vcard"><a class="article-header__author fn url" href=
            "/correctiv/redaktion/team/marcus-bensmann/" rel="author" title="Zeige alle Einträge von Marcus Bensmann">Marcus Bensmann</a></span> am
            <abbr class="published" title="2015-06-23T14:50:00+02:00">23. Juni 2015</abbr>
            <!-- Letzte Aktualisierung am <abbr class="updated" title="2015-06-23T15:40:35.892152+02:00">23. Juni 2015</abbr>. -->
          </div>
        </div>
      </header>

      <section class="article-body page__container">
        <div class="article-body__lead-in">
          <p>Am Amtsgericht Leipzig wird demnächst über einen großen Korruptionsfall entschieden. Der amerikanische Computerkonzern Hewlett-Packard wird
          beschuldigt, 7,8 Millionen Euro an hohe russische Funktionäre gezahlt zu haben, um eine marktbeherrschende Stellung in Russland zu erhalten.</p>

          <p>Tatsächlich verbirgt sich in den Aktenordnern ein ungleich größerer Skandal. Denn am Beginn dieser Korruptionsaffäre steht Vladimir Putin. Das
          Schmiergeld von HP sicherte die Loyalität einer Clique von Staatsanwälten. Und trug dazu bei, die ihn die russische Justiz untertan zu machen</p>
        </div>

        <aside class="article-body__aside">
          <img alt=" " class="article-body__author-portrait" src="https://correctiv.org/media/avatars/a8/a8286ccd7b30b37621975d437f3fca59.png.256x256_q85.png"> <img alt=" " class=
          "article-body__author-portrait" src="https://correctiv.org/media/avatars/f2/f26a3530b33ca541fea3462255b600a3.png.256x256_q85.png">

          <ul class="sharing">
            <li class="sharing__child">
              <a class="sharing__link -twitter" href=
              "https://twitter.com/share?text=Sex%2C%20Schwarzgeld%2C%20Staatszerfall&amp;url=https%3A//correctiv.org/blog/2015/06/23/sex-schwarzgeld-staatszerfall/">
              Twitter</a>
            </li>

            <li class="sharing__child">
              <a class="sharing__link -facebook" href=
              "https://www.facebook.com/sharer.php?u=https%3A//correctiv.org/blog/2015/06/23/sex-schwarzgeld-staatszerfall/">Facebook</a>
            </li>

            <li class="sharing__child">
              <a class="sharing__link -gplus" href=
              "https://plus.google.com/share?url=https%3A//correctiv.org/blog/2015/06/23/sex-schwarzgeld-staatszerfall/">Google+</a>
            </li>

            <li class="sharing__child">
              <a class="sharing__link -email" href=
              "mailto:?subject=Sex%2C%20Schwarzgeld%2C%20Staatszerfall&amp;body=https%3A//correctiv.org/blog/2015/06/23/sex-schwarzgeld-staatszerfall/">E-Mail</a>
            </li>
          </ul>
        </aside>

        <div class="article-body__main">

        {{ content }}

        </div>
      </section>

      <section class="article-footer">
        <div class="article-footer__comment-form">
          <form action="/comments/post/" class="comment-form" id="comment-form" method="post" name="comment-form">
            <div>
              <input name='csrfmiddlewaretoken' type='hidden' value='nI0tMkWbV5LKlgMkGmZQIUj4yB0ttB00'>
            </div>

            <fieldset>
              <header class="page__section-header">
                <legend class="page__section-headline">Antworte mit deinem eigenen Beitrag</legend>
              </header><input id="id_content_type" name="content_type" type="hidden" value="blog.article"> <input id="id_object_pk" name="object_pk" type=
              "hidden" value="232"> <input id="id_timestamp" name="timestamp" type="hidden" value="1435079674"> <input id="id_security_hash" maxlength="40"
              name="security_hash" type="hidden" value="b919d90788024c1e2f605279fa1f9f7b5bd3d9da">

              <div>
                <label for="id_comment">Dein Beitrag:</label>

                <div class="comment-form__control">
                  <textarea cols="40" id="id_comment" maxlength="3000" name="comment" rows="10">
    </textarea>
                </div>
              </div>

              <div style="display:none;">
                <label for="id_honeypot">If you enter anything in this field your comment will be treated as spam:</label>

                <div class="comment-form__control">
                  <input id="id_honeypot" name="honeypot" type="text">
                </div>
              </div><input id="id_parent" name="parent" type="hidden">

              <div>
                <label for="id_email_reply">E-Mail-Antworten:</label>

                <div class="comment-form__control">
                  <input checked="checked" id="id_email_reply" name="email_reply" type="checkbox"> Benachrichtigung bei Antworten per E-Mail.
                </div>
              </div>

              <div class="comment-form__button-group">
                <input name="next" type="hidden" value="/blog/2015/06/23/sex-schwarzgeld-staatszerfall/#comment-form"> <a class="comment-form__cancel" href=
                "#comment-form" id="cancel-comment-reply" style="display:none;">Abbrechen</a> <input class="comment-form__submit" name="submit" type="submit"
                value="Abschicken">
              </div>
            </fieldset>
          </form>
        </div>
      </section>
    </article>
  </main>

  <nav class="nav-secondary" id="nav-secondary">
    <a class="nav-secondary__to-top" href="#nav-primary" id="nav-off">Nach oben</a>

    <ul class="nav-secondary__children">
      <li class="nav-secondary__child">
        <a class="nav-secondary__link" href="https://correctiv.org/recherchen/">Recherchen</a>
      </li>

      <li class="nav-secondary__child">
        <a class="nav-secondary__link" href="https://correctiv.org/correctiv/">Über CORRECT!V</a>
      </li>

      <li class="nav-secondary__child">
        <a class="nav-secondary__link" href="https://correctiv.org/community/">Community</a>
      </li>
    </ul>
  </nav>

  <footer class="footer">
    <div class="footer__container">
      <div class="row">
        <div class="col-md-1">
          <a href="https://correctiv.org/account/" title="Profil"><img alt="Simon Jockers" src="https://correctiv.org/media/avatars/cc/cc50c7d4817166d54679a1d3ecb0a802.png.64x64_q85.png"></a>
        </div>

      <div class="row ">
        <ul class="footer__meta">
          <li class="footer__meta-item">
            <a class="footer__meta-link" href="https://correctiv.org/correctiv/kontakt/">Kontakt</a>
          </li>

          <li class="footer__meta-item">
            <a class="footer__meta-link" href="https://correctiv.org/impressum/">Impressum</a>
          </li>

          <li class="footer__meta-item">
            <a class="footer__meta-link" href="https://correctiv.org/">CORRECT!V</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
